{% load static %}

{% block submit_offer %}
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Sr Martin</h6>
        </div>
        <div class="card-body" style="text-align: center;">
            <div class="row">
                <div class="col-lg-6 mb-5">
                    <div class="card bg-warning text-white shadow">
                        <div class="card-body">
                            <p></p>
                            Nuevo Historial
                            <p></p>

                        </div>
                    </div>
                </div>
                <div class="col-lg-6 mb-5">
                    <div class="card bg-danger text-white shadow">
                        <div class="card-body">
                            <p></p>
                            Buscar Historial
                            <p></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 mb-4">
                    <div class="card bg-warning text-white shadow">
                        <div class="card-body">
                            <p></p>
                            Nuevo Paciente
                            <p></p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 mb-4">
                    <div class="card bg-danger text-white shadow">
                        <div class="card-body">
                            <p></p>
                            Buscar Paciente
                            <p></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}