{% load static %}

{% block body_tender %}
    <!-- Main Content -->
    <div id="content">

        {% include 'components/_topbar.html' %}
        <!-- Begin Page Content -->
        <div class="container-fluid">

            <!-- Content Row -->


        </div>
        <!-- /.container-fluid -->

    </div>
    <!-- End of Main Content -->

    <!-- Footer -->
    {% block footer_tender %}
        {% include 'components/_footer.html' %}
    {% endblock %}
    <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

{% endblock %}