{% load static %}

{% block submit_offer %}
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Submit an offer</h6>
        </div>
        <div class="card-body" style="text-align: center;">
            <p>
                Choose a file with offer and submit.
            </p>
            <p>
                <label for="file-upload" class="custom-file-upload">
                    <i class="fas fa-file-upload"></i> Choose File
                </label>
                <input id="file-upload" type="file"/>
            </p>
            <p>
                <a href="#" class="btn btn-primary btn-icon-split">
                            <span class="icon text-white-50">
                              <i class="fas fa-flag"></i>
                            </span>
                    <span class="text">Submit Offer</span>
                </a>
            </p>
        </div>
    </div>
{% endblock %}